#main-header{
	color: black;
	min-height: 20px;
	text-align: center;
    font-family: Times New Roman, Times, serif;
}
.cont-1 , .cont-2 , .cont-3{
	color:black;
	background: yellow;
	border: 2px solid red;
}
section {
    position: relative;
    width: 50%;
    border: 1px solid;
    float:left;
}