#main-header{
	color: black;
	min-height: 20px;
	text-align: center;
    font-family: Times New Roman, Times, serif;
}

.cont-1 , .cont-2 , .cont-3{
	position: relative;
	color:black;
	background: yellow;
	border: 4px solid black;
}
.con-1{
	position: absolute;
	 top: 0;
	  right: 0; 
	  width: 100px; 
	  text-align:right
	  background:red;
	  border: 2px solid black;
}

